body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

h1{
    font-weight: bold;
    font-size: 60px;
}

.logo {
    display: inline-flex;

    @media (max-width: 543px) {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    img {
        max-width: 40px;
        max-height: 40px;
    }

    h2 {
        padding: 4px 0px 0px 10px;
        color: black;
        font-weight: bold;
        font-size: 27px;
    }
}

.btn-dark{
    border-radius: 50px;
   }

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}