body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}