/* inspire section */
.inspire {

    &__left-blok {
        p {
            font-size: 24px;
        }

        .btn-dark {
            padding: 16px 28px;
            margin-bottom: 15px;
        }
    }

    img {
        height: auto;
        width: 100%;
    }

}