/* inspire section */
.inspire,
.subscribe {

    &__left-blok {
        p {
            font-size: 24px;
        }

        .btn-dark {
            padding: 16px 28px;
            margin-bottom: 15px;
        }
    }

    img {
        height: auto;
        width: 100%;
    }

}

.subscribe {
    background-color: #f8f8f8;

    .row {
        display: flex;
        align-items: center;
    }

    &__left-blok {


        h2 {
            font-size: 40px;
            font-weight: bolder;
        }

        p {
            font-size: 18px;
            color: #5c5c5c;
        }
    }
}